
<div class="row">
    <div class="col-xs-6">
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><input type="text" class="form-control" /></div>
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><input type="text" class="form-control" /></div>
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><input type="text" class="form-control" /></div>
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><input type="text" class="form-control" /></div>
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><input type="text" class="form-control" /></div>
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><input type="text" class="form-control" /></div>
    </div>
    <div class="col-xs-6">
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><input type="text" class="form-control" /></div>
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><input type="text" class="form-control" /></div>
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><input type="text" class="form-control" /></div>
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><input type="text" class="form-control" /></div>
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><input type="text" class="form-control" /></div>
        <div class="col-xs-offset-3 col-xs-3">Label :</div> <div class="col-xs-6"><my-date-picker name="mydate" [options]="myDatePickerOptions"
                [(ngModel)]="model" (dateChanged)="onDateChanged($event)"></my-date-picker></div>
    </div>
</div>