################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrEST/Microsoft.CrEST.UI/Microsoft.CrEST.UI/bin
/CrEST/Microsoft.CrEST.UI/Microsoft.CrEST.UI/obj

